.layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.content h1,
p {
  color: white;
}

.main-page {
  flex: 1;
  padding: 20px;
  background-color: rgb(25, 25, 25);
}

body {
  background-color: rgb(25, 25, 25);
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.search {
  background-color: #222;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  width: 250px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile img {
  border-radius: 1rem;
}

.content {
  padding: 10px;
}

.vertical-divider {
  width: 1px;
  background-color: #333;
  align-self: stretch;
}

.sidebar-divider {
  border: none;
  border-top: 1px solid #333;
  margin: 15px 0;
}